:root {
  --deep-sapace: #01002a;
  --mid-deep-space: #192851;
  --deep-space-gradient: linear-gradient(180deg, rgba(0,0,0,1) 35%, rgba(1,0,42,1) 100%);
  /* --deep-space-graduent: linear-gradient(180deg, rgba(0,0,0,1) 35%, rgba(1,0,42,1) 70%); */
  /* --deep-space-gradient: linear-gradient(90deg, rgba(1,0,42,1) 0%, rgba(25,40,81,1) 35%); */
}
.Navbar {
  width: 100%;
  padding: 0.5rem 0;
  /* background-color: #1C3643; */
  background-color: var(--deep-sapace);
}

.Navbar__brand {
  color: #ffffff;
  display: flex;
  align-items: center;
}

.Navbar__brand:hover {
  color: #ffffff;

  
  text-decoration: none;
}

.Navbar__brand-logo {
  margin-right: 0.5rem;
  width: 40px;
  /* height: 20px; */
}

.btn-start:hover {
  opacity: 90%;
  /* background-image: url(); */
}

/* body {
  background-image: url("../../images/stars.svg");
  background-repeat: repeat;
  background-color: var(--deep-space-gradient);
  width: 100vw;
  height: 100vh;
} */