/* .BadgesList ul>li {
  margin-bottom: 1rem;
}

.BadgesListItem {
  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  display: flex;
  padding: 1rem;
}

.BadgesListItem__avatar {
  border-radius: 50%;
  background: #a3a3a3;
  margin-right: 0.5rem;
  width: 80px;
  height: 80px;
} */

.BadgesList li {
  margin-bottom: 1rem;
}

.BadgesListItem {
  /* background: #FFFFFF; */
  /* background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 35%); */
  /* background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 35%); */
  /* background: radial-gradient(circle, rgba(97,218,251,1) 0%, rgba(238,238,238,1) 35%); */
  /* background: radial-gradient(circle, rgba(238,238,238,1) 0%, rgba(97,218,251,1) 35%); */
  /* background: radial-gradient(circle, rgba(238,238,238,1) 35%, rgba(97,218,251,1) 75%); */
  /* background: radial-gradient(circle, rgba(238,238,238,1) 50%, rgba(97,218,251,1) 75%); */
  /* background: radial-gradient(circle, rgba(238,238,238,1) 70%, rgba(97,218,251,1) 75%); */
  background: radial-gradient(circle, rgba(238,238,238,1) 70%, rgba(97,218,251,1) 100%);
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23); */
  box-shadow: inset 2px 4px 8px 0 rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  display: flex;
  padding: 1rem;
  font-size: 1.1rem;
}

.BadgesListItem:hover {
  background: radial-gradient(circle, rgba(238,238,238,1) 70%, rgba(97,218,251,1) 75%);
}

.BadgesListItem__avatar {
  border-radius: 50%;
  background: #a3a3a3;
  margin-right: 0.5rem;
  width: 80px;
  height: 80px;
}
.Twitter__name {
  /* color: #1da1f2; */
  
}
.Twitter__logo {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  /* background-image: url("../../images/twitter.svg"); */
  /* background-repeat: no-repeat;
  background-position: center; */
  /* background-color: #1da1f2; */
  /* border-radius: 100%; */
  margin-right: 0.3rem;
  vertical-align: middle;
}
.Twitter__logo-img {
  display: inline-block;
  width: 1.5rem;
  background-position: center;
}
.filter-label {
  color: rgba(97,218,251,1);
  font-size: 1.5rem;
  text-align: center;
  margin-top: 15px;
  vertical-align: center;
  font-weight: bold;
}

.form-control {
  border-radius: 8px;
  margin-top: 15px;
  margin-bottom: 30px;
}