:root {
  --deep-sapace: #01002a;
  --mid-deep-space: #192851;
  --deep-space-gradient: linear-gradient(180deg, rgba(0,0,0,1) 35%, rgba(1,0,42,1) 100%);
  /* --deep-space-graduent: linear-gradient(180deg, rgba(0,0,0,1) 35%, rgba(1,0,42,1) 70%); */
  /* --deep-space-gradient: linear-gradient(90deg, rgba(1,0,42,1) 0%, rgba(25,40,81,1) 35%); */
  --react-blue: rgba(97,218,251,1);
  --react-blue-circular-gradient: radial-gradient(circle, rgba(238,238,238,1) 70%, rgba(97,218,251,1) 75%);
}

.Badge {
  background: #FFFFFF;
  box-shadow: inset 4px 4px 8px 0 rgba(0, 0, 0, 0.10);
  
  border-radius: 8px;
  overflow: hidden;
  height: 380px;
  background: var(--react-blue-circular-gradient);
}

.Badge__header {
  padding: 0.5rem 0;
  height: 80px;
  background: #1B1B25;
  display: flex;
  justify-content: center;
}

.Badge__section-name {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.Badge__section-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
  /* background: #F4F4F7; */
}


.Badge__avatar {
  border-radius: 50%;
  margin-right: 1rem;
  width: 120px;
  height: 120px;
}

.Badge__footer {
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #98CA3F;
  font-weight: bold;
  font-style: italic;
}

.twitter-logo{
  display: inline-block;
  width: 1.5rem;
}

/* .confLogo{
  width: 100px;
  height: 100px;
} */