:root {
  --deep-sapace: #01002a;
  --mid-deep-space: #192851;
  --deep-space-gradient: linear-gradient(180deg, rgba(0,0,0,1) 35%, rgba(1,0,42,1) 100%);
  /* --deep-space-graduent: linear-gradient(180deg, rgba(0,0,0,1) 35%, rgba(1,0,42,1) 70%); */
  /* --deep-space-gradient: linear-gradient(90deg, rgba(1,0,42,1) 0%, rgba(25,40,81,1) 35%); */
  --react-blue: rgba(97,218,251,1);
  --react-blue-circular-gradient: radial-gradient(circle, rgba(238,238,238,1) 70%, rgba(97,218,251,1) 75%);
}
body{
  /* width: 100%;
  height: 100%;
  background: url("../../images/stars.svg"), var(--deep-space-gradient);
  background-repeat: repeat; */
  height: 100vh;
}

.BadgeNew__hero {
  width: 100%;
  padding: 2rem 0;
  /* background: url('../../images/stars.svg'), #1B1B25; */
  background-repeat: repeat;
  margin-bottom: 1rem;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.BadgeNew__hero-img {
  max-height: 100px;
}

.container {
  margin-bottom: 40px;
}

.col-6{
  color: var(--react-blue);
  font-weight: bold;
}

button:hover {
  opacity: 90%;
}