:root {
  --deep-sapace: #01002a;
  --mid-deep-space: #192851;
  --deep-space-gradient: linear-gradient(180deg, rgba(0,0,0,1) 35%, rgba(1,0,42,1) 100%);
  /* --deep-space-graduent: linear-gradient(180deg, rgba(0,0,0,1) 35%, rgba(1,0,42,1) 70%); */
  /* --deep-space-gradient: linear-gradient(90deg, rgba(1,0,42,1) 0%, rgba(25,40,81,1) 35%); */
}
.Home {
  width: 100%;
  min-height: calc(100vh - 60px);
  /* background: url("../../images/stars.svg"), #1B1B25; */
  background: url("../../images/stars.svg"), var(--deep-space-gradient);
  background-repeat: repeat;

  color: #ffffff;

  display: flex;
  align-items: center;
}

.Home__col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .Home__col {
    align-items: flex-start;
  }
}

.astronaut {
  border-radius: 64px;
}

.space-logo{
  width: 200px;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}